.calendar
  font-size: 14px
  table-layout: fixed
  width: 250px

.calendar-table

.calendar-table tr
  height: 30px

.calendar-table tr td
  padding: 3px

.task-content-item,
.task-content-empty
  background-color: #E2ECF5
  border-left: 2px solid #6E9ECF
  overflow: hidden
  text-overflow: ellipsis
  vertical-align: top
  white-space: nowrap

.calendar-table tr td:first-child
  color: #757575
  font-size: 12px
  width: 50px

.calendar-table tr:nth-child(even) td:first-child
  color: transparent

.calendar-table tr:nth-child(4n+1)
  border-top: 1px solid #E0E0E0

.calendar-table tr:nth-child(4n+1) td:first-child
  font-size: 16px
